@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box; }

img {
  display: block;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 13px;
  color: #868686; }

.paragraph:not(:last-child) {
  margin-bottom: 20px; }

.text-list {
  padding-left: 15px; }
  .text-list:not(:last-child) {
    margin-bottom: 20px; }
  .text-list__item:not(:last-child) {
    margin-bottom: 3px; }

.heading-tertiary {
  text-transform: capitalize;
  color: #1C1C1C;
  font-size: 25px;
  font-weight: 500; }

.link-primary {
  text-transform: uppercase;
  text-decoration: underline;
  color: #1C1C1C;
  font-weight: 600;
  border: none;
  background: none; }
  .link-primary:hover, .link-primary:active, .link-primary:visited {
    color: #1C1C1C; }

.link-secondary {
  text-decoration: none;
  color: #868686; }

.text-info {
  color: #598b9d; }

.u-center-text {
  text-align: center; }

.u-right-text {
  text-align: right; }

.u-center-row-items {
  align-items: center; }

.u-hcenter-item {
  margin: 0 auto; }

.u-margin-bottom-small {
  margin-bottom: 20px; }

.u-margin-bottom-medium {
  margin-bottom: 40px; }

.u-margin-bottom-large {
  margin-bottom: 80px; }

.breadcrumb__item {
  position: relative; }
  .breadcrumb__item::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '\f104';
    display: inline-block;
    padding-right: 5px; }

.breadcrumb__link {
  color: #868686;
  text-decoration: none; }

.btn, .btn:link, .btn:visited {
  padding: 20px 36px;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap; }

.btn--primary {
  background: #1C1C1C;
  color: #ffffff; }

.btn--secondary {
  background: #ffffff;
  color: #1C1C1C;
  border-color: #868686; }

.btn--outline {
  border: 3px solid #dac14a; }

.btn--fullwidth {
  width: 100%; }

.btn--withsign::before {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  content: "";
  font-size: 12px;
  margin-right: 3px; }

.dropdown {
  position: relative; }
  .dropdown__category::after {
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    content: "";
    margin-left: 3px; }
  .dropdown__content {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease-in-out; }
  .dropdown:hover .dropdown__content {
    max-height: 260px;
    opacity: 1; }
  .dropdown__list-item {
    list-style-type: none; }
  .dropdown__link {
    display: inline-block;
    width: 100%; }

.form__select, .form__input, .form__option {
  min-height: 35px;
  padding: 4px 6px;
  background: transparent;
  font-family: inherit;
  width: 100%;
  border: 1px solid #868686; }

.form__input--number {
  position: relative; }
  .form__input--number::-webkit-outer-spin-button, .form__input--number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #868686;
    opacity: .5;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center; }

.form__label {
  display: block;
  text-transform: uppercase;
  color: #1C1C1C;
  font-weight: 600;
  color: #1C1C1C;
  margin-bottom: 5px; }

.gallery__current {
  margin-bottom: 20px; }

.gallery__img {
  width: 100%;
  object-fit: cover;
  display: block; }

.gallery__preview-box {
  display: flex; }

.gallery__preview {
  flex: 0 1 calc(100%/4); }
  .gallery__preview:not(:last-child) {
    margin-right: 20px; }
  .gallery__preview:not(.gallery__preview--active) {
    position: relative; }
    .gallery__preview:not(.gallery__preview--active)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(28, 28, 28, 0.7); }

.navigation {
  border-top: 1px solid rgba(134, 134, 134, 0.5);
  border-bottom: 1px solid rgba(134, 134, 134, 0.5); }
  .navigation__list {
    list-style-type: none;
    display: flex; }
  .navigation__dropdown-content {
    box-shadow: 0 2px 4px rgba(134, 134, 134, 0.5);
    width: 108px; }
  .navigation__link, .navigation__dropdown-link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #1C1C1C;
    padding: 10px 20px;
    display: inline-block;
    width: 100%; }
  .navigation__dropdown-link:hover {
    background-color: #f2f2f2; }

.reviews-box {
  display: flex; }
  .reviews-box__item {
    margin-right: 10px; }

.star-rating {
  display: inline-flex;
  flex-direction: row-reverse; }
  .star-rating__ico {
    padding-left: 2px;
    cursor: pointer;
    color: #d7d7d8; }
  .star-rating__ico::before {
    content: "\f005"; }
  .star-rating__ico:last-child {
    padding-left: 0; }
  .star-rating__input {
    display: none; }
  .star-rating__ico:hover:before,
  .star-rating__ico:hover ~ .star-rating__ico::before,
  .star-rating__input:checked ~ .star-rating__ico::before {
    color: #e0d082; }

.row {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap; }
  .row:not(:last-child) {
    margin-bottom: 20px; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 20px; }
  .row .col-1-of-2 {
    width: calc((100% - 20px) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 20px) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 20px) / 3) + 20px); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 20px) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 20px) / 4) + 20px); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 20px) / 4) + (2 *  20px)); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 20px) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 20px) / 5) + 20px); }
  .row .col-3-of-5 {
    width: calc(3 *((100% - 4 * 20px) / 5) + (2 *  20px)); }
  .row .col-4-of-5 {
    width: calc(3 *((100% - 4 * 20px) / 4) + (3 *  20px)); }

.product-card {
  padding: 5rem 0; }
  .product-card .star-rating {
    margin-right: 10px; }
  .product-card .btn--withsign::before {
    content: ""; }
  .product-card__price {
    font-size: 26px;
    font-weight: 500; }
  .product-card__info-box {
    color: #1C1C1C; }
