// COLORS
$mystic: #d7e2e7;
$gray: #868686;
$cadetblue:#598b9d;
$codegray: #1C1C1C;
$white: #ffffff;

//SIGNS
$heart-o: '\f08a';
$angle-down: "\f0d7";
$html5: '\f13b';


//GRID
$grid-width: 104rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2rem;