.btn {
  &,
  &:link,
  &:visited {
  padding: 2rem 4rem;
  text-transform: uppercase;
  border: .1rem solid transparent;
  font-size: 1rem;
  font-weight: bold;
  }

  &--primary {
    background: $codegray;
    color: $white;
  }

  &--secondary {
    background: $white;
    color: $codegray;
    border-color: $gray;
  }

  &--outline {
    border: .3rem solid #dac14a;
  }

  &--fullwidth {
    width: 100%;
  }

  &--withsign {
    &::before {
      @include special-sign($html5);
      font-size: 1.2rem;
      margin-right: .3rem;
    }
  }
}