.btn {
  &,
  &:link,
  &:visited {
  padding: 20px 36px;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  }

  &--primary {
    background: $codegray;
    color: $white;
  }

  &--secondary {
    background: $white;
    color: $codegray;
    border-color: $gray;
  }

  &--outline {
    border: 3px solid #dac14a;
  }

  &--fullwidth {
    width: 100%;
  }

  &--withsign {
    &::before {
      @include special-sign($html5);
      font-size: 12px;
      margin-right: 3px;
    }
  }
}