.dropdown {
  position: relative;

  &__category {
    &::after {
      @include special-sign($angle-down);
      margin-left: 3px;
    }
  }
  
  &__content {
    position: absolute;
    top:100%;
    left: 0;
    background: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
  }

  &:hover  &__content {
    max-height: 260px;
    opacity: 1;
  }

  &__list-item {
    list-style-type: none;
  }



  &__link {
    display: inline-block;
    width:100%;
  }
}