.product-card {
  padding: 5rem 0;

  .star-rating {
    margin-right: 10px;
  }
  .btn--withsign::before {
    content: $heart-o;
  }

  &__price {
    font-size: 26px;
    font-weight: 500;
  }

  &__info-box {
    color: $codegray;
  }
}
